---
import Layout from '@/layouts/Layout.astro'
import { Picture } from 'astro:assets'
import capybara from '../images/capybara.png'
---

<Layout pageTitle="404: Code Not Found">
  <div style="text-align: center;">
    <h1>404: Code Not Found</h1>
    <p>
      You’ve reached the void. Want to try again? Or just admire this cute
      capybara?
    </p>
    <Picture
      src={capybara}
      formats={['avif', 'webp']}
      alt="A capybara chilling in the sun"
    />
  </div>
</Layout>
