---
import Layout from '@/layouts/Layout.astro'
---

<Layout pageTitle="This is my blog">
  <h1>Blog</h1>
  <p>
    This is still a work-in-progress, I'm still migrating some posts. I'll try
    to update this as often as I can. It might not be translated to English or
    Portuguese though. Wait around for a while, or learn a new language! It's
    fun.
  </p>
</Layout>
